/* CSS File for Shorten.cf */

body { top: 0; left: 0; margin: 0px; padding: 0px; font-family: vera-sans, sans-serif; }

#wrapper {  }

header, main { width: 600px; margin: 0 auto; padding: 5px; }

header { background-color: #2c3e50; text-decoration: none; }
#banner { text-align: center; font-size: 45px; color: #FFFFFF; text-transform: uppercase; text-decoration: none; }
#maincolor { display: inline-block; color: #FF0000; }
#subcolor { display: inline-block; color: #B2AA99; }

#description { text-align: center; font-size: 20px; color: #FFFFFF; }

main { background-color: #2c3e50;  margin-top: 15px; }
#mainform { 
    width: 460px; padding: 10px; margin: 0 auto;
    text-align: center; margin-top: 20px;
} 

#wrapperfile { float: left; }
#wrappersubmit { float: left; margin-left: 10px; }

input[type=file] {
    background-color: #FFFFFF; color: #666666; text-transform: uppercase; font-size: 16px;
    border: none; box-shadow: 0px 0px 5px 3px #FFFFFF; height: 30px; font-family: monospace;
}

input[type=submit] { 
    background-color: #27ae60; color: #FFFFFF; font-size: 20px; border: none; box-shadow: 0px 0px 4px 5px #27ae60;
    cursor: pointer; height: 30px;
}
input[type=submit]:hover { color: black; }

#hint { font-style: italic; color: grey; float: clear; display: block; margin-top: 75px; text-align: left; }

#wrapperwarnings { 
    width: 602px; height: 40px; margin: 0 auto; visibility: hidden;
    background-color: #FF4444; color: #000000; 
}
#warning { padding: 10px; }

h2 { font-family: vera-sans, sans-serif; font-size: 20px; }
#link { font-family: vera-sans, sans-serif; font-size: 20px; border: 2px solid; border-color: #FFFFFF;
	padding: 10px; background-color: #606060; text-align: center; 
}

footer { 
    position: absolute; bottom: 0px; padding: 5px 0px 5px 0px; width: 100%;
    text-align: center; color: white; background-color: black; font-size: 15px; 
}

#overlay { 
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; z-index: 10;
    background-color: rgba(200,200,200,0.8); display: none;
}
#terms-of-service { 
    margin: 0 auto; height: 300px; padding: 10px; width: 600px; margin-top: 50px; padding-left: 20px; padding-right: 20px;
    border: 5px solid #000000; background-color: white; 

}
.caption { 
    padding: 5px; margin-bottom: 5px; 
    text-align: center; text-transform: uppercase; border-bottom: 1px solid black;
}

#terms { cursor: pointer; color: #95a5a6; text-decoration: underline; display: inline-block; }

a.nounderline:link,a.nounderline:visited { text-decoration: none; }
a:link,a:visited,a:hover,a:active { text-decoration: underline; color: #95a5a6; }
